<h1>List of Projects</h1>

<!-- <a href="/project/new"><button>Add a new project</button></a> -->

<% projects.forEach((project, index) => { %>
    <a href="<%= project.link %>"><h2><%= project.name %></h2></a>
    <h2><%= project.description %></h2>
<% }) %>