<%- include("../partials/head.ejs") %>
<title>My Coding Journal</title>

<body class="background">
    <div class="container">
        <div class="header">
            <div></div>
            <div>Currently Working On</div>
            <a href=".."><div class="logout">Logout</div></a>
        </div> 

        <div class="editlarge">
            <% projects.forEach((project, index) => { %>
                <a href="<%= project.link %>"><%= project.name %></a>
                <br><br>
                <%= project.description %>
                <br><br>
            <% }) %>
        </div>
        

    </div>
    <div class="footer">
        <div class="indexFooter">
            <a href="/journal">Back to Main Page</a>

    </div>
</body>
