<h1>Create a new project</h1>

<form action="/project" method="post">
    <input type="text" name="name" placeholder="Project Pame">
    <input type="text" name="link" placeholder="Project Link">
    <input type="text" name="description" placeholder="Description">
    <input type="submit" value="MAKE NEW PROJECT">
</form>