<%- include("../partials/head.ejs") %>

<title>My Coding Journal</title>

<body class="background">
    <div class="container">
       <div class="header">
            <div></div>
            <div>My Coding Journal</div>
            <a href=".."><div class="logout">Logout</div></a>
       </div>

    <div class="large">
        <div class="largeContainer">
        Day of the week
        <% journals.forEach((journal, index) => { %>
            <a href="/journal/<%= journal._id %>"><h4><%= journal.day %></h4></a>
        <% })%>
        <a href="/journal/new"><button class="btn">Add Day</button></a>
        </div>

    </div>

    <div class="small">
            <a class="linkColor" href="/project/">Current Projects (Page Under Construction)</a>
    </div>

    <div class="leopard">
    </div>

    <div class="footer">
        <div class="indexFooter">
            <div>Resources:</div>
            <div><a href="https://turmeric.seircohort.com/" target="_blank">GA Turmeric</a></div>
            <div><a href="https://www.youtube.com/playlist?list=PLY6oTPmKnKbYfBepQHtJYWo0jPMyzvYdV" target="_blank">Alex Merced Coding</a></div>
            <div><a href="https://www.codecademy.com/learn" target="_blank">Codecademy</a></div>
    </div>


    </div>
</body>