<h1 class="title">My Coding Journal</h1>

<a href="/journal/new"><button>Create</button></a>
<% journals.forEach((journal, index) => { %>
    <a href="/journal/<%= journal._id %>"><h2><%= journal.day %></h2></a>
<% })%>