<%- include("../partials/head.ejs") %>

<body class="background">
    <div class="container">
       <div class="header">
        My Coding Journal
       </div>

    <div class="large">
        <a href="/journal/new"><button class="button">Add Day</button></a>
            <br>
            <br>
        Day of the week
        <% journals.forEach((journal, index) => { %>
            <a href="/journal/<%= journal._id %>"><h2><%= journal.day %></h2></a>
        <% })%>
    </div>

    <div class="small">
        Projects Completed
    </div>

    <div class="small">
        To Do List
    </div>

    <div class="footer">
        Resources
    </div>


    </div>
</body>