<%- include("../partials/head.ejs") %>


<h1>Create a new Journal Entry</h1>

<form action="/journal" method="post">
    <input type="text" name="day" placeholder="Day of the week"><br>
    <input class="date" type="number" name="month" placeholder="Month">
    <input class="date" type="number" name="dayOfMonth" placeholder="Day">
    <input class="date" type="number" name="year" placeholder="Year"><br>
    <input type="text" name="goal" placeholder="Goals for Today">
    <input type="checkbox" name="goalCompleted"><br>
    <input class="entry" type="text" name="entry" placeholder="Entry for the day"><br>

    <input type="submit" value="Make New Day">
</form>

<a href="/journal">Back to Main Page</a>