<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Coding Journal
    </title>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <div class="banner">
      <div class="navbar">
        <h1 class="logo">My Coding Journal</h1>
        <ul>
          
        </ul>
      </div>

      <div class="userIntro">
        <h1>Good habits start here.</h1>
        <p>Want to code more mindfully? Track every day, learn about your habits, <br> and reach your goals with My Coding Joural.</p>

        <div class="button">
          <a href="/journal"><button class="content" type="button"><span></span>Enter</button></a>
        </div>


      </div>

    </div>

    


    
  </body>
</html>



<!-- <a href="/journal"></a> -->

<!-- <a href="/journal"><button class="content" type="button"></a><span></span>Enter</button></a> -->