<!DOCTYPE html>
<html lang="en">
  <body class="user">
    <header id="showcase">
      <%- include("./partials/head.ejs") %>
        <h1 class="entrancePage">Welcome to My Coding Journal</h1>
        <a href="/journal">Enter</a>
    </header>
    <section>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque quo eligendi iure error veniam explicabo dolor maiores adipisci porro, qui vero natus repudiandae ex officia impedit quibusdam, exercitationem blanditiis? Quia.</p>
    </section>
  </body>
</html>