<!DOCTYPE html>
<html lang="en">
  <body>
    <%- include("./partials/head.ejs") %>
    <main>
      <h1 class="entrancePage">Welcome to My Coding Journal</h1>
      <div>
        <a href="/journal">Enter</a>
      </div>
    </main>
  </body>
</html>